@use '@angular/material' as mat;

$custom-theme: mat.define-theme(
  (
    color: (      
      use-system-variables: true,
    ),
  )
);

html {
  @include mat.core-theme($custom-theme);
  @include mat.toolbar-theme($custom-theme);
  @include mat.button-theme($custom-theme);
  @include mat.icon-button-theme($custom-theme);
  @include mat.sidenav-theme($custom-theme);
  @include mat.tabs-theme($custom-theme);
  @include mat.list-theme($custom-theme);
  @include mat.card-theme($custom-theme);
  @include mat.table-theme($custom-theme);
  @include mat.select-theme($custom-theme);
  @include mat.form-field-theme($custom-theme);
  @include mat.button-toggle-theme($custom-theme);
  @include mat.menu-theme($custom-theme);
  @include mat.divider-theme($custom-theme);
  
}