.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-size: 20px;
}

.stat-subtext {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.text-green {
    color: rgb(235, 23, 235);
}