:host * {
  transition: all 500ms ease-in-out;
}


mat-drawer {  
  border-right: none;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

mat-drawer-container {
  height: calc(100vh - 65px);
}

mat-drawer, mat-drawer-content {
  transition: all 600ms ease-in-out;
}

.content {
  height: calc(100vh - 64px);  
  padding: 16px;
  overflow: auto;    
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}



// .name {
//   margin-top: 8px;
//   font-weight: normal;
// }

// .designation {
//   margin-top: 2px;
//   font-size: 0.7rem;
//   color: rgb(252, 242, 242);
// }

// mat-divider {
//   margin-top: 16px;
//   margin-bottom: 16px;
//   background-color: rgba(255, 255, 255, 0.5);
// }

.mat-drawer-transition .mat-drawer {
  transition: all 500ms ease-in-out !important;
}

.theme-btn {
  margin-left: auto;  
}
