<app-header
  [currentTheme]="currentTheme()"
  (toggleTheme)="toggleTheme()"
  (toggleSidebar)="toggleSidebar()"
/>

<mat-drawer-container>
  <mat-drawer [style.width]="sidenavWidth()" mode="side" [opened]="isOpened()"
  (openedChange)="sidenavOpened.set($event)">
    <app-custom-sidenav [collapsed]="isCollapsed()" (closeRequest)="handleClose()"/>
  </mat-drawer>
  <mat-drawer-content [style.margin-left]="contentWidth()">
    <div class="content">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container> 




