<mat-toolbar >
  <button matIconButton (click)="collapsed.set(!collapsed())" class="burger">
    <mat-icon>menu</mat-icon>
  </button>
  Responsive sidebar
  <button matIconButton class="theme-btn" (click)="toggleTheme()">
    <mat-icon>
      {{ currentTheme() === 'light' ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>



</mat-toolbar>
<mat-drawer-container>
  <mat-drawer [style.width]="sidenavWidth()" mode="side" opened>
    <app-custom-sidenav [collapsed]="collapsed()"/>
  </mat-drawer>
  <mat-drawer-content [style.margin-left]="contentWidth()">
    <div class="content">
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
