<a
  class="menu-item"
  mat-list-item
  [routerLink]="routeHistory() + '/' + item().route"
  routerLinkActive="selected-menu-item"
  #rla="routerLinkActive"
  [activated]="rla.isActive"
  (click)="toggleNested()"
  [style.--mat-list-list-item-leading-icon-start-space]="indentation()"
>
  <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon
    >{{ item().icon }}
  </mat-icon>
  @if (!collapsed()) {
  <span matListItemTitle class="title">{{ item().label }} </span>
  } @if (item().subItems) {
  <span matListItemMeta>
    @if (nestedMenuOpen()) {
    <mat-icon>expand_less</mat-icon>
    }@else {
    <mat-icon>expand_more</mat-icon>
    }
  </span>
  }
</a>

@if (item().subItems && nestedMenuOpen()) {
<div animate.enter="entering" animate.leave="leaving">
  @for (subItem of item().subItems; track subItem.id) {  
  <app-menu-item [item]="subItem" [collapsed]="collapsed()" [routeHistory]="routeHistory() + '/' + item().route"/>
  }
</div>
}
