:host {
    background: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
    position: absolute;
    right: 16px;
    top: 100px;
    width: 300px;
    z-index: 2;
    border-radius: 16px;
}

.widget-box {   
  background: var(--mat-sys-surface-container);
  color: var(--mat-sys-inverse-surface);
}

.widget-box:hover {
    background: var(--mat-sys-surface-container-high);
}