<div class="p-4">
    @for (row of formService.rows(); track row.id) {
        <div
          class="p-5 rounded-lg border-2 border-dashed border-gray-200 mb-4"
          cdkDropList
          [cdkDropListData]="row.id"
          (cdkDropListDropped)="onDropInRow($event, row.id)"
          [cdkDropListOrientation]="'mixed'"
        >
        <div class="flex justify-between items-center">
            <span>Row</span>
            @if (formService.rows().length > 1) {
                <button matIconButton (click)="formService.deleteRow(row.id)">
                    <mat-icon>cancel</mat-icon>
                </button>
            }
        </div>
        <div class="flex gap-4 flex-wrap">
            @for (field of row.fields; track field.id) {
                <app-form-field-item cdkDrag [cdkDragData]="field" class="flex-1" [field]="field" />
            } @empty {
                <div class="w-full p-4 border border-dashed border-primary-container rounded">
                    Drag and drop form elements here
                </div>
            }
        </div>
    </div>
    }
</div>
