<div class="p-4">
    @for (row of formService.rows(); track row.id) {
        <div
          class="p-5 rounded-lg border-2 border-dashed border-gray-200"
          cdkDropList
          (cdkDropListDropped)="onDropInRow($event, row.id)"
          [cdkDropListOrientation]="'mixed'"
        >
        <div>Row</div>
        <div class="flex gap-4 flex-wrap">
            @for (field of row.fields; track field.id) {
                <app-form-field-item class="flex-1" [field]="field" />
            }
        </div>
    </div>
    }
</div>
