// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

// html {
//   @include mat.theme((
//     color: (
//       primary: mat.$magenta-palette,
//       tertiary: mat.$violet-palette,
//     ),
//     typography: Roboto,
//     density: 0,
//   ));
// }

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  // color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html.light {
  --mat-sys-surface: #fcfbf9;
  --mat-sys-on-surface: #56046b;
  --mat-sys-background: #fefaff;
  --mat-toolbar-container-background-color: #a507a0;
  --mat-toolbar-container-text-color: #f8f3f9;
  // --mat-mdc-list-item-title-color: #131316;  
}

html.dark {
  --mat-sys-surface: #131316;
  --mat-sys-on-surface: #e5e1e6;
  --mat-sys-background: #656363;
  --mat-toolbar-container-background-color: #a507a0;
  --mat-toolbar-container-text-color: #fefefe; 
}

html.dark .mat-mdc-list-item-interactive:hover::before {
  background-color: rgb(248, 197, 246) !important; 
  opacity: 0.32 !important; 
}

html.dark .mat-mdc-list-item-interactive:focus::before,
html.dark .mat-mdc-list-item-interactive:focus-visible::before {
  background-color: transparent !important;
  opacity: 0 !important;
}

html.dark .mat-mdc-list-item-interactive.mdc-list-item--activated::before {
  background-color: rgba(83, 63, 72, 0.05) !important;
}

html.dark .mat-mdc-list-item-interactive:hover .mat-mdc-list-item-title,
html.dark .mat-mdc-list-item-interactive:hover mat-icon {
  color: #ee078e !important; /* белый цвет */
}

.m-0 {
  margin: 0;
}

.mat-elevation-z3 {
  @include mat.elevation(3);
}








  










// html.dark {
//   @include mat.theme(
//     (
//       color: (
//         primary: mat.$blue-palette,
//         tertiary: mat.$cyan-palette,
//       ),
//       typography: Roboto,
//       density: 0,
//       is-dark: true,
//     )
//   );
// }

html.custom {
  --mat-sys-primary: #cc0000;
  --mat-sys-surface: #f5f5f5;
}
