// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
// @use '@angular/material' as mat;
@use "./app/styles/tailwind.scss";
@use "./app/styles/material.scss";
@use '@angular/material' as mat;
@use "./app/styles/colors.scss";
@use "./app/styles/custom.scss";


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


.cdk-drop-list-dragging {
  opacity: 0.5;
  border-left: 5px solid #a507a0;
  border-left: 5px solid var(--mat-sys-primary);
  padding-left: 8px;
}

.m-0 {
  margin: 0;
}

.mat-elevation-z3 {
  @include mat.elevation(3);
}




