:host * {
  transition: all 500ms ease-in-out;
}

.hide-header-text {
  opacity: 0;
  height: 0px !important;
}

.info {
  color: var(--mat-sys-on-surface-variant);
}



// .selected-menu-item .mat-mdc-list-item-title {
//   color: #a507a0 !important;
// }

// hover
// .mdc-list-item--activated::before {
//   background-color: #fefefe !important;  
// }

// .mdc-list-item::before {
//   background-color: rgba(140, 17, 75, 0.05) !important;   
// }

