.sidenav-header {
  padding-top: 24px;
  text-align: center;
}

.header-text {
  > h2 {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  > p {
    margin: 0;
    font-size: 0.8rem;
  }
}

.hide-header-text {
    opacity: 0;
    height: 0px;
}

.avatar {
  margin-top: 16px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
